nav {
    background-color: #00CCBC;
}

li {

    a {
        background-color: #00CCBC;
        letter-spacing: 1px;
        border-radius: 4px;
        padding: .5rem;
        text-align: center;
    }
}

img {
    width: 150px;
    height: 50px;
    object-fit: contain;
}

.navbar-toggler-icon {
    color: #00CCBC;
}

.hover-auth-li:hover {
    background-color: darken(#00CCBC, 10%) !important;
    transition-duration: 300ms;
}

.hover-link:hover {
    background-color: #00ccbb6f !important;
    transition-duration: 300ms;
}